@import url(https://db.onlinewebfonts.com/c/39a2c7f346d5cfae7045aeb2fb50d9ad?family=Lulo+Clean+W01+One+Bold);
body{
  background-color:#C42627;
  line-height: 1;
  text-emphasis-color: #fff;
  font-family: "Lulo Clean W01 One Bold";
  
  
}

html{
  scroll-behavior: smooth;
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}


.logo{
  text-align: center;
  background-color: black;
  padding: 20px 0;
}

.bleach-logo{
  max-width: 100%;
  justify-content: center;
  overflow: hidden;
  height: 110px;
  display: flex;
  align-items: center;
  animation: bounceIn 1.5s ease;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateY(0px) scale(0.9);
  }
  60% {
    opacity: 1;
    transform: translateY(2px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale();
  }
}

.top-logo{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
 
}



.top-nav{
  background-color: black;
  position: sticky;
  top:0;
  z-index: 100;
}

.container-nav{
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.item{
  position: relative;
}

.item a{
  display: block;
  letter-spacing: 1;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: color 0.3s;
  padding: 20px 25px;
  color: azure;
  
}

.item a:hover{
  color: #C42627;
}


.list {
    display: flex;
    list-style: none;
    padding: 0;
    animation: slideUp 1.5s ease
}

h1{
    text-align: center;
    color: rgb(255, 255, 255) ;
    padding-top: 12px;
}

.grid{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.episode img{
    width:100%;
    height: auto;
    display: block;
}


.episode:hover{
    transform: scale(1.05);
}
.row{
    display: flex;
    gap: 20px;
    padding-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
    
}

.episode{
    width: 200px;
    overflow: hidden;
    transition: transform 0.2s ease;
    

}

.epsisode a{
    display: block;
    text-decoration: none;
}

.titles{
    text-align: center;
    background-color: rgb(0, 0, 0);
    padding: 3.7%;
    font-size: 14px;
    color: azure;
    
    
}

.titles-k{
    text-align: center;
    padding: 3.7%;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    color: azure;
    
}

.titles-f{
    text-align: center;
    padding: 7%;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    color: azure;
    
}

.titles-d{
    text-align: center;
    padding: 7%;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    color: azure;
    
}

.titles-b{
    text-align: center;
    padding: 7%;
    background-color: rgb(0, 0, 0);
    font-size: 14px;
    color: azure;
    
}