body{
  background-color:#C42627;
  font-family: 'Bebas Nue', sans-serif;
  line-height: 1;
  text-emphasis-color: #fff;
  
  
}

.logo{
  text-align: center;
  background-color: rgb(255, 0, 0);
  padding: 20px 0;
}

.bleach-logo{
  max-width: 100%;
  justify-content: center;
  overflow: hidden;
  height: 110px;
  display: flex;
  align-items: center;
}

.top-logo{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

input{
    padding: 10px;
    margin: 5px;
    text-align: center;
    margin-left: 96vh;
}

button{
    margin: 10px;
    margin-left: 67vh;
}

.box{
    width: 229vh;
    background-color: rgb(236, 93, 93);
    align-self: center;
}

h2{
    text-align: center;
}